/* ================================
  Nav Bar styling
   ================================
*/

.ul-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00F2FA;
}

.li-nav{
  float: left;
}

.li-nav a{
  display: block;
  color: #17202A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans";
}

nav a {
	clear: both;
	margin-left: 0;
	width: 90%;
	float: left;
	display: block;
	height: 50px;
	overflow: hidden;
	margin-bottom: 0px;
}

nav ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans";
	font-size: x-large;
}

nav ul li a {
	color: #FDFEFE;
	text-decoration: none;
	display: block;

}

nav ul li a:hover {
	background-color: #FDFEFE;
	color: #17202A;
}

nav ul li a:focus {
	outline: thin dotted;
}

nav ul li a:hover, nav ul li a:active {
	outline: 0;
}

/* ===============================
  Styling for table 2
   ===============================
*/

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 75%;
}

th, td {
  padding: 15px;
}

/* ==================================
  Styling for Animal Page
   ==================================
*/

.animal-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.div-animal{
  padding-left: 200px;
  padding-right: 300px;
}


/* ======================================
  Styling for BTS photo
   ======================================
*/

.container {
  position: relative;
  width: 50%;
}

.music-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2E4053;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* ==================================
  Styling for First paragraph
   ==================================
*/

.div-music1{
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
}

/* =====================================
  Text Style for History Page
   =====================================
*/

.div-history{
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

/* ======================================
  Padding for iframes
   ======================================
*/

.div-best1{
  padding-top: 50px;
  padding-left: 200px;
}
.div-best2{
  padding-top: 50px;
  padding-left: 200px;
}
.div-best3{
  padding-top: 50px;
  padding-left: 800px;
}
.div-best4{
  padding-top: 50px;
  padding-left: 200px;
  padding-bottom: 100px;
}
.div-best5{
  padding-top: 50px;
  padding-left: 800px;
}
/* ======================================
  Styling for BTS blockquotes
   ======================================
*/
.bts-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

blockquote p:last-of-type {
	border-top: 1px solid rgba(128,98,26,1.00);
	text-align: right;
	font-size: 1em;
}
blockquote {
	font-size: 1em;
	width: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 0 0 4% 0;
}
blockquote {
  background: rgb(241, 241, 241);
  border-left: 10px solid rgba(176,124,48,0.5);
  quotes: "\201C""\201D""\201C""\2019";
  	border-radius: 20%;
	width: 40%;
	margin: 1%;
	float: left;
	padding: 2%;
}
blockquote p:first-of-type:before {
  color: rgba(176,124,48,0.50);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin: 0.2em 0.1em 0em 0.25em;
  vertical-align: -0.4em;
  float: left;
}
